<a href="http://localhost:4321/#f5ef4389-b26f-4808-9a34-6514b3d43a9d" class="text-white pt-24 flex !no-underline flex-col items-center">
    <h1 class="[font-size:clamp(48px,8vw,104px)] font-bold text-center [text-shadow:2px_2px_1px_rgb(48,48,48)]">J Oyola</h1>
    <span class="text-4xl text-white/10 animate-pulse font-extrabold self-end -rotate-[14deg] -translate-x-4 -translate-y-12 underline decoration-dotted">Baby</span>
    <h2 class="italic text-2xl self-end -rotate-12 font-semibold text-[#ffed6b] animate-pulse [animation-duration:0.18s] [text-shadow:1px_1px_1px_rgb(148,148,148)] -translate-y-[4.48rem] text-center">
        A 
        <span class="underline decoration-wavy decoration-white">leyend's life</span>
        history
    </h2>
</a>
