.post {
	animation: linear animate-in-and-out;
	animation-timeline: view();
}

@keyframes animate-in-and-out {
    entry 0% {
        opacity: 0.3;
    }

    entry 100% {
        opacity: 1;
    }

    exit 0% {
        opacity: 1;
    }

    exit 100% {
        opacity: 0.3;
    }
}